/* .header-container{
    display: flex;
    align-items: center;
} */
.center{
   
    height: 8rem;
    margin-left: 7rem;

}
.header_container
{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: left;
}

@media screen and   (max-width:1100px){
    .center{
   
        height: 10rem;
        margin-right: auto;
        margin-left: 3rem;
    
    }
}
@media screen and   (max-width:500px){
    .center{
   
        height: 10rem;
        margin-right: auto;
        margin-left: auto;
    
    }
}