/* .header-container{
    display: flex;
    align-items: center;
} */
.center{
   
    height: 10rem;

}
.header_container
{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}